/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
}

/* variable declaration */
:root{
    --color-primary: #e76f51;
}

/* universal styles start here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.primary-color{
    color: #e76f51;
}
.dark-1{
    color: #e0e0e0;
}
.primary-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-primary);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
}
.link-style{
    text-decoration: none;
    color: white;
}

/* navbar styles start here */
header{
    background-color: #264653;
}
.navbar{
   justify-content: space-between;
   align-items: center;
   padding: 20px 80px;
}
.nav-brand{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.navbar-nav{
    list-style: none;
    gap: 20px;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav-icon{
    display: none;
}
/* hero image section styles start here */
.hero-section{
    padding: 20px 80px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 45px;
    justify-content: space-between;
    align-items: center;
}
.hero-content .title{
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0px;
}
.hero-content .description{
    margin-bottom: 20px;
}
.hero-btn{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 30px;
}
.hero-image{
    max-width: 550px;
}
.hero-image img{
    width: 100%;
}

/* responsive design for mobile device */
@media screen and (max-width:576px) {

/* navbar styles start here */
.navbar{
   padding: 20px;
}
.navbar-nav{
    display: none;
}
.nav-icon{
    display: block;
}
.nav-icon i{
    font-size: 32px;
    color: white;
}
/* hero image section styles start here */
.hero-section{
    padding: 20px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
} 


}

/* responsive design for mobile device */
@media screen and (min-width:577px) and (max-width:992px) {

/* navbar styles start here */
.navbar{
    padding: 50px;
}
/* hero image section styles start here */
.hero-section{
    padding: 40px;
    grid-template-columns: repeat(1,1fr);
}

}